<!--Footer Area Start -->
<div class="index-contact-area">
        <div class="wrap">
            <div>
                <div><a href="tel:+ 256434661208">+ 256 43 4661208 &nbsp; &nbsp;</a>
                <a href="tel:+ 256434661209">+ 256 43 4661209</a></div>
                <div>
                    <span>FOLLOW US ON : </span>
                    <ul class="footer-social-icons">
                        <li><a href="https://web.facebook.com/energenltd " title="Facebook" target="_blank"></a></li>
                        <li><a href="https://twitter.com/energenltd" title="Twitter" target="_blank"></a></li>
                        <li><a href="https://www.instagram.com/energenltd" title="Instagram" target="_blank"></a></li>
                    </ul>
                </div>
            </div>		
        </div>
    </div>
<!--Index Contact Area End -->
    <div class="footer-bg-area">
        <div class="wrap">
            <span class="copy-txt">Copyright &copy; 2019 Energen. All rights reserved! </span>
        </div>
    </div>
<script
    src="https://code.jquery.com/jquery-2.2.4.min.js"
    integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
    crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

<style>
.navbar-fixed-top {
min-height: 80px;
}

.navbar-nav > li > a {
padding-top: 0px;
padding-bottom: 0px;
line-height: 80px;
}

@media (max-width: 767px) {
.navbar-nav > li > a {
line-height: 20px;
padding-top: 10px;
padding-bottom: 10px;}
}
</style>
</body>

</html>