<% include partials/header %>

<style>
ul.bullet-points {
    list-style-type: square;
    margin-left: 30px;
}
</style>

<!-- Header Area End -->
<div class="clear"></div>
<!-- Banner Area Start -->
	<div class="banner-area">
		<img src="images/inner-banner/trust.jpg" alt="" />
	</div>
<!-- Banner Area End -->
<!--Inner Area Start -->
	<div class="inner-bg-area"> <!-- can put margi top here if we remiove banner-->
		<div class="wrap about-area">
			<div>
				<h1>ABOUT US</h1>
                    <h2 style="text-align:center;font-weight: 600;">Our Vision </h2><br>
                    <p class="card-text-addition">Our vision is to setup a world class modern facility in Uganda for 
                        manufacturing earthing system components to cater to the needs of 
                        East African Community in a way that is cost effective by saving on 
                        shipping, duties, foreign exchange, etc... We aim to provide affordable
                        and durable electrical safety for lives and property with our non-corrosive
                        and highly conductive earthing solutions.</p>
                        <br><br>
                        <h2 style="text-align:center;font-weight: 600;">Our Mission </h2><br>
                    <p class="card-text-addition">To provide the best quality and cost for manufacturing earthing solutions
                        to companies in Uganda and East Africa through our highly skilled teams 
                        and world class manufacturing facilities while maintaining international 
                        safety standards.</p>
                        <br><br>
                        <h2 style="text-align:center;font-weight: 600;">Strengths</h2><br>
                    <ul class="bullet-points card-text-addition">
                    <li>Dynamic and motivated personnel </li>
                    <li>Rigorous standards and high accuracy equipment for Quality Assessment & Quality Control </li>
                    <li>Exhaustive investments made in state of the art facility</li>
                    <li>Modern management methods with an aim of continuous improvement</li>
                    <li>High quality products at competitive rates within stipulated time periods </li>
                    <li>Well trained engineering design and quality teams </li>
                    <li>Savings in import duty, freight, time, inventory cost, interest, etc… </li>
                    <li>Local after sales backup </li>
                    <li>We have a well-equipped infrastructure to meet the earthing and grounding requirements of our clients with ease in a given time frame. </li>
                <br class="clear" />
                <!-- <ul class="pro-nav">
                    <li><img src="images/1.jpg" alt="" /></li>
                    <li><img src="images/2.jpg" alt="" /></li>
                    <li><img src="images/3.jpg" alt="" /></li>
                    <li><img src="images/4.jpg" alt="" /></li>
               </ul> -->
			</div>	
		</div>
    </div>
    <div class="album py-5 bg-light" style="background-color: white;">
        <div style="text-align: center;margin-bottom: 25px;"><h1 class="our-team-underline">Our Team</h1></div>
        <div class="container">
          <div class="row">
            <div class="col-md-3 col-sm-12">
              <div class="card mb-3 box-shadow">
                <img class="card-img-top" img src="images/owners/magan_patel.png" alt="Thumbnail [100%x225]" data-holder-rendered="true" style="height: 225px; width: 100%; display: block;">
                <div class="card-body">
                        <h2 class="about-us-h2">Mr. Magan Patel</h2>
                        <h4 class="about-us-h4">Director</h4>
                  <p class="card-text card-text-addition">Mr. Patel, a renowned name and visionary has built an impeccable reputation across East Africa through his hard work and honest policies. From a humble beginning, he has built a conglomerate of 28 diverse industries and his appetite is yet not satiated.</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <!-- <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                      <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button> -->
                    </div>
                    <!-- <small class="text-muted">9 mins</small> -->
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-3 col-sm-12">
              <div class="card mb-3 box-shadow">
                <img class="card-img-top" img src="images/owners/tarun_jain.jpg" alt="Thumbnail [100%x225]" data-holder-rendered="true" style="height: 225px; width: 100%; display: block;">
                <div class="card-body">
                        <h2 class="about-us-h2">Mr. Tarun Jain</h2>
                        <h4 class="about-us-h4">Director</h4>
                  <p class="card-text card-text-addition">Mr. Jain, a commerce graduate started his business career at the age of 19 acquiring vast knowledge and experience over 33 years in manufacturing & exports of Colour Dye Stuffs & Metal Components. Over these years he has travelled extensively across the world for exports.</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <!-- <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                      <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button> -->
                    </div>
                    <!-- <small class="text-muted">9 mins</small> -->
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-3 col-sm-12">
              <div class="card mb-3 box-shadow">
                <img class="card-img-top" img src="images/owners/rajesh_patel.jpg" alt="Thumbnail [100%x225]" src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22348%22%20height%3D%22225%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20348%20225%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_16af860a55c%20text%20%7B%20fill%3A%23eceeef%3Bfont-weight%3Abold%3Bfont-family%3AArial%2C%20Helvetica%2C%20Open%20Sans%2C%20sans-serif%2C%20monospace%3Bfont-size%3A17pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_16af860a55c%22%3E%3Crect%20width%3D%22348%22%20height%3D%22225%22%20fill%3D%22%2355595c%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%22116.7265625%22%20y%3D%22120.3%22%3EThumbnail%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E" data-holder-rendered="true" style="height: 225px; width: 100%; display: block;">
                <div class="card-body">
                        <h2 class="about-us-h2">Mr. Rajesh Patel</h2>
                        <h4 class="about-us-h4">Director</h4>
                  <p class="card-text card-text-addition">Mr. Patel, a commerce graduate has a keen sense of industrial operations and a rich experience in the fields of Cotton Ginning and Pressing, Solar Installations, and Building Construction.</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <!-- <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                      <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button> -->
                    </div>
                    <!-- <small class="text-muted">9 mins</small> -->
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-3 col-sm-12">
              <div class="card mb-3 box-shadow">
                <img class="card-img-top" img src="images/owners/aryan_jain.jpg" alt="Thumbnail [100%x225]" data-holder-rendered="true" style="height: 225px; width: 100%; display: block;">
                <div class="card-body">
                    <h2 class="about-us-h2">Mr. Aryan Jain</h2>
                    <h4 class="about-us-h4">Business Development Head</h4>
                  <p class="card-text card-text-addition">Mr. Jain, a mechanical engineer brings youthful energy and modern perspective to Energen. Has acute sense of business development and fresh ideas in the fields of online internet marketing.</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <!-- <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                      <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button> -->
                    </div>
                    <!-- <small class="text-muted">9 mins</small> -->
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <br class="clear" />
        <br class="clear" />
        <br class="clear" />
      </div>
<!-- Inner Area End -->
<!-- Footer Start -->
    <!--Index Contact Area Start -->
  <% include partials/footer %>
  <style>
        .about-us-h2{
            font-family: "Playfair Display", Georgia, "Times New Roman", serif;
            margin-bottom: 3px;
        }
        .about-us-h4{
            color: #6c757d!important;
            margin-bottom: 3px;
        }
        .card-text-addition{
            font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
            font-size: 2rem;
            font-weight: 400;
            line-height: 1.5;
        }
        .border-box-card{
            background-clip: border-box;
            border: 1px solid rgba(0,0,0,.125);
            border-radius: .25rem;
        }
        .our-team-underline{
            text-decoration: underline;
            text-decoration-color: #ff7300;
            text-underline-position: under;
        }
    /* above class is for border implementation on indivdual cards */
    </style>
