<% include partials/header %>

<style>
ul.bullet-points {
    list-style-type: square;
    margin-left: 30px;
}
</style>

<!-- Header Area End -->
<div class="clear"></div>
<!-- Banner Area Start -->
	<div class="banner-area">
		<img src="images/inner-banner/trust.jpg" alt="" style=" margin-top: 80px;" />
	</div>
<!-- Banner Area End -->
<!--Inner Area Start -->
	<div class="inner-bg-area">
		<div class="wrap about-area">
			<div>
				<h1>ABOUT US</h1>
                    <h2 style="text-align:center;font-weight: 600;">Our Vision </h2><br>
                    <p>Our vision is to setup a world class modern facility in Uganda for 
                        manufacturing earthing system components to cater to the needs of 
                        East African Community in a way that is cost effective by saving on 
                        shipping, duties, foreign exchange, etc... We aim to provide affordable
                        and durable electrical safety for lives and property with our non-corrosive
                        and highly conductive earthing solutions.</p>
                        <br><br>
                        <h2 style="text-align:center;font-weight: 600;">Our Mission </h2><br>
                    <p>To provide the best quality and cost for manufacturing earthing solutions
                        to companies in Uganda and East Africa through our highly skilled teams 
                        and world class manufacturing facilities while maintaining international 
                        safety standards.</p>
                        <br><br>
                        <h2 style="text-align:center;font-weight: 600;">Why you should choose us</h2><br>
                    <ul class="bullet-points">
                    <li>Dynamic and motivated personnel </li>
                    <li>Rigorous standards and high accuracy equipment for Quality Assessment & Quality Control </li>
                    <li>Exhaustive investments made in state of the art facility</li>
                    <li>Modern management methods with an aim of continuous improvement</li>
                    <li>High quality products at competitive rates within stipulated time periods </li>
                    <li>Well trained engineering design and quality teams </li>
                    <li>Savings in import duty, freight, time, inventory cost, interest, etc… </li>
                    <li>Local after sales backup </li>
                    <li>We have a well-equipped infrastructure to meet the earthing and grounding requirements of our clients with ease in a given time frame. </li>
                <br class="clear" />
                <ul class="pro-nav">
                    <li><img src="images/1.jpg" alt="" /></li>
                    <li><img src="images/2.jpg" alt="" /></li>
                    <li><img src="images/3.jpg" alt="" /></li>
                    <li><img src="images/4.jpg" alt="" /></li>
               </ul>
			</div>	
		</div>
	</div>
<!-- Inner Area End -->
<!-- Footer Start -->
	<!--Index Contact Area Start -->
  <% include partials/footer %>
