<% include partials/header %>

<style>
ul.bullet-points {
    list-style-type: square;
    margin-left: 30px;
}
</style>

<!-- Header Area End -->
<div class="clear"></div>
<!-- Banner Area Start -->
	<div class="banner-area">
		<img src="images/inner-banner/about.jpg" alt="" style=" margin-top: 80px;" />
	</div>
<!-- Banner Area End -->
<!--Inner Area Start -->
	<div class="inner-bg-area">
		<div class="wrap about-area">
			<div>
				<h1>ABOUT US</h1>
                <h2 style="text-align:center;font-weight: 600;">Why you should choose us</h2><br>
                    <ul class="bullet-points">
                    <li>Highly skilled and motivated personnel</li>
                    <li>Rigorous standards and procedures of Quality Control</li>
                    <li>Best quality products at competitive rates</li>
                    <li>State of the art machines and facilities</li>
                    <li>Well trained engineering and design team</li>
                    <li>Local manufacturing eliminates the need of importing</li>
                    <li>Savings in time, inventory cost, etc…</li>
                    <li>Local after sales backup</li>
                    <li>Concern for worker health and safety</li>
                    <li>Conscious attempt to minimize environmental impact</li>
                    <li>We are well-equipped to meet the requirements of our clients with ease in a given time frame.</li>
                    </ul>
                    <br><br>
                    <p>Energen is reputed for fulfilling grounding and earthing requirements by
                        being manufacturers of copper earth rods, busbars, strips and earth
                        plates. We are dedicated to deliver extraordinary service and true
                        value that meets your expectations . Our office and manufacturing
                        facility are locatedin Jinja, Uganda and run by accomplished
                        professional proficient in their work. Our manufacturing unit is
                        equipped with modern technology and systems which allows us to
                        provide precision products of high quality to fulfill the requirement of
                        our esteemed clients in promised time and at competitive costs.</p>
                     <p>Modern engineering, state of the art machinery and skilled labour
                        gives our products a competitive edge in the market. We are capable
                        of producing in bulk quantities or as per customers’ specific
                        demands.We are a one stop shop for all your grounding and earthing
                        requirements.</p>
                    <p>We welcome you to write the next chapter in this mutually beneficial
                        growth story.</p>
                <br class="clear" />
                <ul class="pro-nav">
                    <li><img src="images/1.jpg" alt="" /></li>
                    <li><img src="images/2.jpg" alt="" /></li>
                    <li><img src="images/3.jpg" alt="" /></li>
                    <li><img src="images/4.jpg" alt="" /></li>
               </ul>
			</div>	
		</div>
	</div>
<!-- Inner Area End -->
<!-- Footer Start -->
	<!--Index Contact Area Start -->
  <% include partials/footer %>
