<% include partials/header %>

<!-- Header Area End -->
<div class="clear"></div>
<!-- Banner Area Start -->
	<div class="banner-area">
		<img src="images/inner-banner/contact-banner.jpg" alt="" style="margin-top: 80px;"/>
	</div>
<!-- Banner Area End -->
<!--Inner Area Start -->
	<div class="inner-bg-area">
		<div class="wrap">
			<div>
				<h1>Contact us</h1>
                 <div class="contact-lft-panel">
                        <ul>
                                <li><h3><i class="fa fa-map-marker"></i>Works Details</h3><p>Lorem Ipsum<br /> Mumbai-400 076</p></li>
                                <li><h3><i class="fa fa-phone"></i>Phone</h3><p>+ 91 - 9819262083 </p></li>
                                <li><h3><i class="fa fa-envelope"></i>Email</h3><span><a href="mailto:prathprabhu@gmail.com">prathamesh@gmail.com</a></span><br  /><span><a href="mailto:prathprabhu@gmail.com">prathamesh@gmail.com</a></span><br  /> <span><a href="mailto:prathprabhu@gmail.com">prathamesh@gmail.com</a></span></li>
                            </ul>
                        <ul>
                            <li><h3><i class="fa fa-map-marker"></i>Marketing Office</h3><p>Lorem Ipsum<br /> Mumbai-400 076</p></li>
                            <li><h3><i class="fa fa-phone"></i>Phone</h3><p>+ 91 - 9819262083 </p></li>
                            <li><h3><i class="fa fa-envelope"></i>Email</h3><span><a href="mailto:prathprabhu@gmail.com">prathamesh@gmail.com</a></span><br  /><span><a href="mailto:prathprabhu@gmail.com">prathamesh@gmail.com</a></span><br  /> <span><a href="mailto:prathprabhu@gmail.com">prathamesh@gmail.com</a></span></li>
                        </ul>
                     </div> 
                      <div class="contact-rit-panel">
                            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d1884.9989199986321!2d72.82691474249172!3d19.107750691079538!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be7c9ea15364199%3A0xf45cce3634467bf5!2sSt.+Joseph&#39;s+Church!5e0!3m2!1sen!2sin!4v1539109030234" width="600" height="330" frameborder="0" style="border:0" allowfullscreen></iframe> 
                         <br class="clear" />

                         <!-- ***********************Form code********************* -->
                        <!-- <h4 class="enquery">Quick Enquiry</h4>
                  		<script src="code.jquery.com/jquery-1.9.1.min.js"></script>
						<script src="www.zumvu.com/zsscn-313715747900.js"></script>
                        <div id="zv_cnt_warp">
                        <form name="zvcm" id="zvcm" style="margin:0px" onsubmit="return false;">
                        <input type="hidden" name="rtxt" value="Thank you for your enquiry. We will get back soon.">
                        <div><input type="text" name="zcv_namer" id="zcv_namer" placeholder="Name" required /></div>
                        <div><input type="email" name="zcv_mailr" id="zcv_mailr" placeholder="E-mail" required /></div>
                        <div><input type="tel" name="zcv_phone" id="zcv_phone" placeholder="Contact no"  /></div>
                        <div><textarea rows="3" name="zcv_msgr" id="zcv_msgr" placeholder="Message" required ></textarea></div>
                        <div><input type="submit" value="SUBMIT" id="zcvbt" /></div>
                        </form>
                        <span id="zvcer"></span>
                        </div> -->
                        <!-- Default form contact -->
                        <form class="text-center border border-light p-5" method="POST" action="send">

                                <p class="h4 mb-4">Contact us</p>
                            
                                <!-- Name -->
                                <input type="text" id="FormName" class="form-control mb-4" placeholder="Name" name="name" required>
                            
                                <!-- Email -->
                                <input type="email" id="FormEmail" class="form-control mb-4" placeholder="E-mail" name="email" required>
                            
                                <input type="text" id="FormContact" class="form-control mb-4" placeholder="Contact No" name="phone" required>
                            
                                <!-- Message -->
                                <div class="form-group">
                                    <textarea class="form-control rounded-0" id="exampleFormControlTextarea2" rows="5" placeholder="Message" name="message" required></textarea>
                                </div>
                                <!-- Attachment -->
                                <!-- <div class="form-group">
                                    <label for="name">Document Upload:</label>
                                    <input type="file" class="form-control" id="image" name="attachment" >
                                </div> -->
                                <!-- Copy -->
                                <!-- <div class="custom-control custom-checkbox mb-4">
                                    <input type="checkbox" class="custom-control-input" id="defaultContactFormCopy">
                                    <label class="custom-control-label" for="defaultContactFormCopy">Send me a copy of this message</label>
                                </div> -->
                            
                                <!-- Send button -->
                                <button class="btn btn-info btn-block" type="submit">Send</button>
                            
                            </form>
    <!-- Email form end -->
                    </div>  
			</div>	
		</div>
	</div>
<!-- Inner Area End -->

<% include partials/footer %>
