<% include partials/header %>

<!-- Header Area End -->
<div class="clear"></div>
<!-- Banner Area Start -->
	<div class="banner-area">
		<img src="images/inner-banner/contact-banner.jpg" alt="" style="margin-top: 80px;"/>
	</div>
<!-- Banner Area End -->
<!--Inner Area Start -->
	<div class="inner-bg-area">
		<div class="wrap">
			<div>
				<h1>Contact us</h1>
                 <div class="contact-lft-panel">
                        <ul>
                                <li><h3><i class="fa fa-map-marker"></i>Factory & Office Address</h3><p>Energen LTD. <br /> Plot 52- 56, Industrial Estate Road <br /> Masesse, Jinja, Uganda.</p></li>
                                <li><h3><i class="fa fa-phone"></i>Phone</h3><p><a href="tel:+ 256434661208">+ 256 43 4661208 </p></a><p><a href="tel:+ 256434661209">+ 256 43 4661209 </p></a></li>
                                <li><h3><i class="fa fa-envelope"></i>Email</h3><span><a href="mailto:info@energenltd.com">info@energenltd.com</a></li>
                        </ul>
                        <!-- <ul>
                            <li><h3><i class="fa fa-map-marker"></i>Marketing Office</h3><p>Energen Ltd,<br /> Plot 52-56, <br /> Industrial Estate Rd, <br /> Masesse, <br />Jinja,<br /> Uganda</p></li>
                            <li><h3><i class="fa fa-phone"></i>Phone</h3><p><a href="tel:+ 256434661208">+ 256 43 4661208 </p></a><p><a href="tel:+ 256434661209">+ 256 43 4661209 </p></a></li>
                            <li><h3><i class="fa fa-envelope"></i>Email</h3><span><a href="mailto:info@energenltd.com">info@energenltd.com</a></li>
                        </ul> -->
                     </div> 
                      <div class="contact-rit-panel">
                          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3989.6939771796683!2d33.23543731475339!3d0.45234849966997837!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x177e7d72c0c86e55%3A0xe97568d850bb1841!2sEnergen+Ltd!5e0!3m2!1sen!2sin!4v1558445042127!5m2!1sen!2sin" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
                         <br class="clear" />

                         <!-- ***********************Form code********************* -->
                        <!-- <h4 class="enquery">Quick Enquiry</h4>
                        </div> -->
                        <!-- Default form contact -->
                        <form class="text-center border border-light p-5" method="POST" action="send" enctype="multipart/form-data">

                                <p class="h4 mb-4" style="color: #ff8609;font-weight: bold;
                                font-size: 28px;
                                padding-top: 30px;">Contact us</p>
                            
                                <!-- Name -->
                                <input type="text" id="FormName" class="form-control mb-4" placeholder="Name" name="name" required>
                            
                                <!-- Email -->
                                <input type="email" id="FormEmail" class="form-control mb-4" placeholder="E-mail" name="email" required>
                            
                                <input type="text" id="FormContact" class="form-control mb-4" placeholder="Contact No" name="phone" required>
                            
                                <!-- Message -->
                                <div class="form-group">
                                    <textarea class="form-control rounded-0" id="exampleFormControlTextarea2" rows="5" placeholder="Message" name="message" required></textarea>
                                </div>
                                <!-- Attachment -->
                                <!-- <div class="form-group">
                                    <label for="name">Document Upload:</label>
                                    <input type="file" class="form-control" id="image" name="image" >
                                </div> -->
                                <!-- Copy -->
                                <!-- <div class="custom-control custom-checkbox mb-4">
                                    <input type="checkbox" class="custom-control-input" id="defaultContactFormCopy">
                                    <label class="custom-control-label" for="defaultContactFormCopy">Send me a copy of this message</label>
                                </div> -->
                            
                                <!-- Send button -->
                                <button class="btn btn-warning btn-block" type="submit">Send</button>
                            
                            </form>
    <!-- Email form end -->
                    </div>  
			</div>	
		</div>
	</div>
<!-- Inner Area End -->

<% include partials/footer %>
