<% include partials/header %>

<!-- Header Area End -->
<div class="clear"></div>
<!-- Banner Area Start -->
	<div class="banner-area">
		<img src="images/inner-banner/pro-banner5.jpg" alt="" />
	</div>
<!-- Banner Area End -->
<!--Inner Area Start -->
	<div class="inner-bg-area">
		<div class="wrap">
			<div>
				<h1>Copper Tubes</h1>
				<div class="lft-panel">
                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                     <tr class="tr">
                        <td colspan="2">O.D.</td>
                        <td colspan="6">Wall Thickness</td>
                      </tr>
                      <tr>
                        <th>n</td>
                        <th>mm</td>
                        <th colspan="2">MIN</th>
                        <th colspan="2">MAX</th>
                        <th colspan="2">STRAIGHT</th>
                      </tr>
                      <tr>
                        <th>&nbsp;</th>
                        <th>&nbsp;</th>
                        <th>(in)</th>
                        <th>(mm)</th>
                        <th>(in)</th>
                        <th>(mm)</th>
                        <th>(ft)</th>
                        <th>(m)</th>
                      </tr>
                      <tr class="tr1">
                        <td>3/8"</td>
                        <td>9.52</td>
                        <td>0.012</td>
                        <td>0.30</td>
                        <td>0.039</td>
                        <td>1.00</td>
                        <td>6.0 - 20.0</td>
                        <td>2.0 - 6.0</td>
                      </tr>
                      <tr class="tr2">
                        <td>0.394</td>
                        <td>10.00</td>
                        <td>0.016</td>
                        <td>0.40</td>
                        <td>0.039</td>
                        <td>1.00</td>
                        <td>6.0 - 20.0</td>
                        <td>2.0 - 6.0</td>
                      </tr>
                      <tr class="tr1">
                        <td>1/2"</td>
                        <td>12.70</td>
                        <td>0.014</td>
                        <td>0.40</td>
                        <td>0.039</td>
                        <td>1.00</td>
                        <td>6.0 - 20.0</td>
                        <td>2.0 - 6.0</td>
                      </tr>
                      <tr class="tr2">
                        <td>0.787</td>
                        <td>20.00</td>
                        <td>0.039</td>
                        <td>1.00</td>
                        <td>0.059</td>
                        <td>1.50</td>
                        <td>6.0 - 20.0</td>
                        <td>2.0 - 6.0</td>
                      </tr>
                      <tr class="tr1">
                        <td>0.866</td>
                        <td>22.00</td>
                        <td>0.039</td>
                        <td>1.00</td>
                        <td>0.059</td>
                        <td>1.50</td>
                        <td>6.0 - 20.0</td>
                        <td>2.0 - 6.0</td>
                      </tr>
                      <tr class="tr2">
                        <td>7/8"</td>
                        <td>22.22</td>
                        <td>0.039</td>
                        <td>1.00</td>
                        <td>0.059</td>
                        <td>1.50</td>
                        <td>6.0 - 20.0</td>
                        <td>2.0 - 6.0</td>
                      </tr>
                       <tr class="tr1">
                        <td>0.984</td>
                        <td>25.00</td>
                        <td>0.039</td>
                        <td>1.00</td>
                        <td>0.059</td>
                        <td>1.50</td>
                        <td>6.0 - 20.0</td>
                        <td>2.0 - 6.0</td>
                      </tr>
                       <tr class="tr2">
                        <td>1"</td>
                        <td>25.40</td>
                        <td>0.039</td>
                        <td>1.00</td>
                        <td>0.059</td>
                        <td>1.50</td>
                        <td>6.0 - 20.0</td>
                        <td>2.0 - 6.0</td>
                      </tr>
                      <tr>
                        <td>1.102</td>
                        <td>28.00</td>
                        <td>0.039</td>
                        <td>1.00</td>
                        <td>0.059</td>
                        <td>1.50</td>
                        <td>6.0 - 20.0</td>
                        <td>2.0 - 6.0</td>
                      </tr>
                </table>
                <div>
                <h2>Process</h2>
                <span>Copper Tube Production</span>
                <p>UPCAST plant, high purity copper cathodes are melted in protective atmosphere in the induction furnaces. Molten metal, transferred into holding and casting furnaces via the atmosphere controlled launders, is cast into tubes with standard diameters of 33 mmx5mm thickness.</p>
                <p>Final products are produced in different finishing lines according to the type of final shape.</p>
                <span>Copper Tube</span>
                	<ul class="content-nav">
                    	<li><strong>Material</strong>Cu-DHP (99,90% Cu min. and 0,015-0,040 % P)</li>
                        <li><strong>Product Type</strong>Straight Length</li>
                        <li><strong>Temper</strong>Hard drawn </li>
                        <li><strong>Standards </strong>DIN EN 12449, TS EN 12449, DIN EN 1057, EN 12735, ATMB B 280, ASTM B 68, ASTM B 75, ASTM B 88,IS-12444-1988</li>
                    </ul>
                </div>
                 <h2>Packing</h2>
                 <br/>
                	<span>Straight Tubes</span>
                     <table width="100%" border="0" cellspacing="0" cellpadding="0">
                      <tr>
                        <th>Packing type</th>
                        <th colspan="4">Dimensions (mm)</th>
                        <th>Net weight(kg)</th>
                        <th>Tare(kg)</th>
                      </tr>
                      <tr>
                        <td rowspan="2">Wooden case</td>
                        <td>A</td>
                        <td>B</td>
                        <td>C</td>
                        <td>D</td>
                        <td rowspan="2">500-1000(app)</td>
                        <td rowspan="2">40-180(app)</td>
                      </tr>
                      <tr>
                        <td>350-500</td>
                        <td>200-500</td>
                        <td>100</td>
                        <td>2500-6300</td>
                      </tr>
                </table>
				</div>
				<img src="images/pro-img6.png" alt=""  class="img-area" />
			</div>
		</div>
	</div>
<!-- Inner Area End -->
<!-- Header Area Start -->
<% include partials/footer %>