<% include partials/header %>

<!-- Header Area End -->
<div class="clear"></div>
<!-- Banner Area Start -->
	<div class="banner-area">
		<img src="images/inner-banner/copper-foils.jpg" alt="" style=" margin-top: 80px;"/>
	</div>
<!-- Banner Area End -->
<!--Inner Area Start -->
	<div class="inner-bg-area">
		<div class="wrap">
			<div>
				<h1>Copper Foils / SHEETS</h1>
				<div class="lft-panel">
                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                      <tr>
                        <th>Width </th>
                        <th>Thickness (app.)</th>
                      </tr>
                      <tr class="tr1">
                        <td>11mm - 130mm</td>
                        <td>.04mm - 3mm </td>
                      </tr>
                    </table>
                   <p>Ut eleifend felis et tempor luctus. Duis lacinia diam sem, ut aliquam quam lobortis porttitor. Cras aliquet pharetra cursus. Quisque placerat lorem felis, ac mattis mi consequat eu. Aenean malesuada lacinia nisi eget pretium. Aliquam vitae purus in risus accumsan ultricies. Nullam finibus aliquet massa scelerisque aliquam. Praesent faucibus, risus id volutpat rutrum, neque odio pellentesque turpis, at tempor erat est et arcu. Aenean sagittis viverra fringilla.</p> 
                   <p>Cras nibh magna, gravida in pulvinar convallis, ullamcorper quis ante. Phasellus eleifend purus dolor, et scelerisque enim consectetur sed. Aenean et rutrum enim. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Maecenas accumsan volutpat iaculis. Nunc orci ex, facilisis eget porta sit amet, elementum ut sapien. Mauris rhoncus turpis urna, sit amet pellentesque dolor aliquam quis. Quisque eget nibh nec felis cursus accumsan.</p>
                     <div>
                     <h2>Application</h2>
                     <p>Copper Foils are extensively used in printed circuit board, heat exchangers, radiators, switchgear industry, transformers, cable Industry among many other applications.</p>
                   </div>
				</div>
				<img src="images/pro-img1.png" alt="" class="img-area" />
			</div>
		</div>
	</div>
<!-- Inner Area End -->
<% include partials/footer %>