<% include partials/header %>

<!-- Header Area End -->
<div class="clear"></div>
<!-- Banner Area Start -->
	<div class="banner-area">
		<img src="images/inner-banner/pro-banner3.jpg" alt="" />
	</div>
<!-- Banner Area End -->
<!--Inner Area Start -->
	<div class="inner-bg-area">
		<div class="wrap">
			<div>
				<h1>copper wires and rods</h1>
				<div class="lft-panel">
                   <p> Diameter: 1.1mm - 100mm</p>
					<p>Nullam eros nunc, dictum non urna sit amet, vulputate efficitur tortor. Ut eros dolor, porta ac scelerisque vel, dignissim eu augue. Sed non pellentesque diam. In consectetur est sit amet mi iaculis, vitae efficitur quam congue. Fusce in leo eget tortor lobortis laoreet. Duis sed ex eget ipsum pulvinar ullamcorper. Suspendisse efficitur neque vitae justo ornare blandit vel eu urna. Duis condimentum, metus non vehicula sollicitudin, neque tortor pharetra ante, sed porttitor massa metus quis tellus. </p>
                    <p>Cras nibh magna, gravida in pulvinar convallis, ullamcorper quis ante. Phasellus eleifend purus dolor, et scelerisque enim consectetur sed. Aenean et rutrum enim. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Maecenas accumsan volutpat iaculis. Nunc orci ex, facilisis eget porta sit amet, elementum ut sapien. Mauris rhoncus turpis urna, sit amet pellentesque dolor aliquam quis. Quisque eget nibh nec felis cursus accumsan.</p>
                    <div>
                     <h2>Applications</h2>
                     <p>High conductivity copper wires & rods have numerous applications including power distribution, power generation, semiconductors, electronic applications and automobiles.</p>
                   </div> 
				</div>
				<img src="images/pro-img4.png" alt=""  class="img-area"/>
			</div>
		</div>
	</div>
<!-- Inner Area End -->
<!-- Header Area Start -->
<% include partials/footer %>