<% include partials/header %>

<!-- Header Area End -->
<div class="clear"></div>
<!-- Banner Area Start -->
	<div class="banner-area">
		<img src="images/inner-banner/pro-banner9.jpg" alt="" style=" margin-top: 80px;"/>
	</div>
<!-- Banner Area End -->
<!--Inner Area Start -->
	<div class="inner-bg-area">
		<div class="wrap">
			<div>
				<h1>Copper Nugget</h1>
				<div class="lft-panel">
                <span>OXYGEN FREE COPPER ANODE (OFC nuggets)</span>
				<p>Ideal anode material for copper electroplating processes, cylindrical types of nuggets are produced from upcast process. Ofc nuggets have very high copper purity. Sphere and ball nuggets are in initial stages.</p>
                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                  <tr>
                    <th rowspan="2">Oxygen Free (OFC)</th>
                    <th colspan="2">Diameter (mm) <br></th>
                    <th rowspan="2">Impurities</th>
                  </tr>
                  <tr>
                    <th>(mm)</th>
                    <th>(inch)</th>
                  </tr>
                  <tr class="tr1">
                    <td>% Cu 99.995 min.</td>
                    <td>8.0</td>
                    <td>0.315</td>
                    <td>Bi, Mn	&lt; 1 ppm</td>
                  </tr>
                  <tr class="tr2">
                    <td>Oxygen % < 10ppm</td>
                    <td>10.0</td>
                    <td>0.393</td>
                    <td>Al, As, Ni, Si	&lt; 5 ppm</td>
                  </tr>
                  <tr class="tr1">
                    <td>&nbsp;</td>
                    <td>12,5</td>
                    <td>0.492</td>
                    <td>S	&lt; 10 ppm</td>
                  </tr>
                  <tr class="tr2">
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>Sb, Sn, Te	&lt; 5 ppm</td>
                  </tr>
                  <tr class="tr1">
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>Zn 	&lt; 10 ppm</td>
                  </tr>
                  <tr class="tr2">
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>Ag 	&lt; 15 ppm</td>
                  </tr>
                  <tr>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>Fe, Pb	&lt; 10 ppm</td>
                  </tr>
            </table>
				<div>
                	<h2>Packing</h2>
                	<p>&#216; 44 lb (20 kg) in plastic bucket</p>
                    <p>&#216; 1100 - 2200 lb (500 - 1000 kg) in wooden box</p>
                    <p>&#216; 1100 - 2200 lb (500 - 1000 kg) in steel barrel</p>
                    <p>&#216; 2200 lb (1000 kg) in big bag As per customer requirement</p>
                    <p>20kgs in plastic Corrugated boxes</p>
                    <span>Nuggets</span>
                    <p>&#216; 12mm x 12mm</p>
                    <p>&#216; 16mm x 16mm</p>
                    <p>&#216; 20mm x 25mm</p>
                    <p>&#216; 25mm x 25mm or customer requirement</p>
                    <span>Sphere or Ball</span>
                    <p>&#216; 16mm, &#216; 25mm, &#216; 28mm, &#216; 38mm, &#216; 50mm and &#216; 55mm or customer requirement</p>
                </div>
				</div>
				<img src="images/copper-nugget.jpg" alt="" class="img-area" />
			</div>
		</div>
	</div>
<!-- Inner Area End -->
<!-- Header Area Start -->
<% include partials/footer %>
