<% include partials/header %>

<!-- Header Area End -->
<div class="clear"></div>
<!-- Banner Area Start -->
	<div class="banner-area">
		<img src="images/factory-images/copper-tube-1-banner-product.jpg" alt="" style=" margin-top: 80px;"/>
	</div>
<!-- Banner Area End -->
<!--Inner Area Start -->
	<div class="inner-bg-area">
        <div class="wrap">
            <div>
            <h1>Copper Profiles</h1>
            </div>
            <div class="row">
            <div class="col-xs-6 col-sm-4" style="padding-bottom: 10px;">
            <img class="img-thumbnail" src="images/factory-images/copper-profiles.jpg" alt="" class="img-area" style="float: none"/></div>
            <div class="col-xs-6 col-sm-4" style="padding-bottom: 10px;">
            <img class="img-thumbnail" src="images/factory-images/copper-tubes-product.jpg" alt="" class="img-area" style="float: none"/></div>
            </div>
        </div>
	</div>
<!-- Inner Area End -->
<!-- Header Area Start -->
<% include partials/footer %>
