
<% include partials/header %>

<!-- Header Area End -->
<div class="clear"></div>
<!--Inner Area Start -->
    <div class="inner-bg-area" style="padding-top: 160px;">
        <div class="wrap"><div><h1 style="padding: 5px 15px; border-left: 4px solid #ff7300;
        text-transform: uppercase;font-weight: 800;margin-bottom: 12px; font-family: 'Lato', sans-serif;
        font-size: 25px;">Products</h1>
            <p class="product-font">
                Our in house tooling department and skilled machinists provides
                us with the flexibility to customize our products according to
                our customers’ specifications.</p>
        </div>
        </div>
        <div class="wrap">
            <div>
            <h1 id="earthrod">Earth Rod</h1>
            </div>
            <p class="product-font1">Copper earth rods provide superior conductivity &amp; durability and therefore greater safety than
              copper coated or steel rods traditionally used in earthing &amp; grounding systems. We manufacture
              copper rods with plain, taper, and threading options as per customer requirements.</p>
            <div class="row">
                <div class="col-xs-6 col-sm-3" style="padding-bottom: 10px;">
                <img class="img-thumbnail" src="images/revamp/earth_rod_1.jpg" alt="" class="img-area" style="float: none"/></div>
                <div class="col-xs-6 col-sm-3" style="padding-bottom: 10px;">
                <img class="img-thumbnail" src="images/revamp/earth_rod_8.jpg" alt="" class="img-area" style="float: none"/></div>
                <div class="col-xs-6 col-sm-3" style="padding-bottom: 10px;">
                <img class="img-thumbnail" src="images/revamp/earth_rod_9.jpg" alt="" class="img-area" style="float: none"/></div>
                <div class="col-xs-6 col-sm-3" style="padding-bottom: 10px;">
                <img class="img-thumbnail" src="images/revamp/earth_rod_10.jpg" alt="" class="img-area" style="float: none"/></div>
            </div>
            <div class="div-table-padding">
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                <th colspan="3" style="text-align: center">Copper Earth Rod Parameters</th>
                <tr class="tr1">
                  <td>1.</td>
                  <td>Corrosion resistance</td>
                  <td>YES</td>
                </tr>
                <tr class="tr2">
                  <td>2.</td>
                  <td>Diameter</td>
                  <td>6mm – 24 mm</td>
                </tr>
                <tr class="tr1">
                  <td>3.</td>
                  <td>Length</td>
                  <td>Upto 14 ft</td>
                </tr>
                <tr class="tr2">
                  <td>4.</td>
                  <td>Material</td>
                  <td>Pure Copper</td>
                </tr>
                <tr class="tr1">
                  <td>5.</td>
                  <td>Taper</td>
                  <td>Available</td>
                </tr>
                <tr class="tr2">
                  <td>6.</td>
                  <td>Drilling</td>
                  <td>Available</td>
                </tr>
                <tr class="tr1">
                    <td>7.</td>
                    <td>Threading</td>
                    <td>Available</td>
                  </tr>
                  <tr class="tr2">
                    <td>8.</td>
                    <td>Standard Sizes</td>
                    <td>14mm, 16mm</td>
                  </tr>
                  <tr class="tr1">
                    <td>9.</td>
                    <td>Standard Lengths</td>
                    <td>4 ft,  8 ft</td>
                  </tr>
                  <tr class="tr2">
                    <td colspan="3" class="footer-text">Custom sizes available as per customer’s specifications.</td>
                  </tr>
          </table>
          </div>
        </div>
        <!-- Copper Tapes -->
        <div class="wrap">
            <div>
            <h1>Copper Tapes</h1>
            </div>
            <p class="product-font1">We manufacture highly conductive copper tapes/strips making them suitable components for application in earthing, grounding,commutators, panel boards & electrical contacts.</p>
            <div class="row">
            <div class="col-xs-6 col-sm-3" style="padding-bottom: 10px;">
            <img class="img-thumbnail" src="images/revamp/copper_strip_2.jpg" alt="" class="img-area" style="float: none"/></div>
            <div class="col-xs-6 col-sm-3" style="padding-bottom: 10px;">
            <img class="img-thumbnail" src="images/revamp/copper_strip_4.jpg" alt="" class="img-area" style="float: none"/></div>
            <div class="col-xs-6 col-sm-3" style="padding-bottom: 10px;">
            <img class="img-thumbnail" src="images/revamp/copper_strip_8.jpg" alt="" class="img-area" style="float: none"/></div>
            <div class="col-xs-6 col-sm-3" style="padding-bottom: 10px;">
            <img class="img-thumbnail" src="images/revamp/copper_strip_10.jpg" alt="" class="img-area" style="float: none"/></div>
            </div>
            <div class="div-table-padding">
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                <th colspan="3" style="text-align: center">Copper Tape / Strip Parameters</th>
                <tr class="tr1">
                  <td>1.</td>
                  <td>Width</td>
                  <td>Upto 50mm</td>
                </tr>
                <tr class="tr2">
                  <td>2.</td>
                  <td>Thickness</td>
                  <td>2mm and above</td>
                </tr>
                <tr class="tr1">
                  <td>3.</td>
                  <td>Length</td>
                  <td>Upto 50m rolls</td>
                </tr>
                <tr class="tr2">
                  <td>4.</td>
                  <td>Standard Sizes</td>
                  <td>3mm*25mm*50m</br>3mm*25mm*25m<br>6mm*50mm*50m</td>
                </tr>
                  <tr class="tr1">
                    <td colspan="3" class="footer-text">Custom sizes available as per customer’s specifications.</td>
                  </tr>
            </table>
            </div>
        </div>
        <!-- Busbar Parameters -->
        <div class="wrap">
            <div>
            <h1>Busbar</h1>
            </div>
            <p class="product-font1">We manufacture highly conductive plain, punched & threaded busbars as per customer specifications for application in fields such as power distribution, power plants, data centres, telecommunication, automotive industries, railways etc..</p>
            <div class="row">
            <div class="col-xs-6 col-sm-3" style="padding-bottom: 10px;">
            <img class="img-thumbnail" src="images/revamp/busbar_1.jpg" alt="" class="img-area" style="float: none"/></div>
            <div class="col-xs-6 col-sm-3" style="padding-bottom: 10px;">
            <img class="img-thumbnail" src="images/revamp/punched_busbar_1.jpg" alt="" class="img-area" style="float: none"/></div>
            <div class="col-xs-6 col-sm-3" style="padding-bottom: 10px;">
            <img class="img-thumbnail" src="images/revamp/punched_busbar_3.jpg" alt="" class="img-area" style="float: none"/></div>
            <div class="col-xs-6 col-sm-3" style="padding-bottom: 10px;">
            <img class="img-thumbnail" src="images/revamp/threaded_busbar_1.jpg" alt="" class="img-area" style="float: none"/></div>
            </div>
            <div class="div-table-padding">
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                <th colspan="3" style="text-align: center">Busbar Parameters</th>
                <tr class="tr1">
                  <td>1.</td>
                  <td>Thickness</td>
                  <td>3mm - 50mm</td>
                </tr>
                <tr class="tr2">
                  <td>2.</td>
                  <td>Width</td>
                  <td>5mm -  50mm</td>
                </tr>
                <tr class="tr1">
                  <td>3.</td>
                  <td>Length</td>
                  <td>Upto 14 ft</td>
                </tr>
                <tr class="tr2">
                  <td>4.</td>
                  <td>Punching</td>
                  <td>Available</td>
                </tr>
                <tr class="tr1">
                    <td>5.</td>
                    <td>Threading</td>
                    <td>Available</td>
                  </tr>
                  <tr class="tr2">
                    <td>6.</td>
                    <td>Conductivity</td>
                    <td>As per customer specifications</td>
                  </tr>
                  <tr class="tr1">
                    <td>7.</td>
                    <td>Standard Sizes</td>
                    <td>25 mm x 5mm, 50mm x 10mm</td>
                  </tr>
                  <tr class="tr2">
                    <td colspan="3" class="footer-text">Custom sizes available as per customer’s specifications.</td>
                  </tr>
            </table>
            </div>
        </div>
        <!-- Earth Plates & Mats -->
        <div class="wrap">
            <div>
            <h1>Earth Plates & Mats</h1>
            </div>
            <p class="product-font1">We manufacture a range of highly conductive plain & punched  earthing plates from pure copper that are used as an alternative earthing solution to  earth rods  – the plates are often installed in conjunction with low resistance earthing compound. We also manufacture copper earthing mats designed to minimize  the danger of exposure to high voltages.</p>
            <p class="product-font1">Copper earth plates can be installed in the ground to achieve an effective earth in shallow soils with underlying rocks or in underground locations with multiple buried cable and pipe services – used also to provide protection at medium/high voltage (MV-HV) switching locations where high resistivity soil or ground rock conditions prohibit the driving of copper earth rods.</p>
            <div class="row">
            <div class="col-xs-6 col-sm-3" style="padding-bottom: 10px;">
            <img class="img-thumbnail" src="images/revamp/earthing_mat_2.jpg" alt="" class="img-area" style="float: none"/></div>
            <div class="col-xs-6 col-sm-3" style="padding-bottom: 10px;">
            <img class="img-thumbnail" src="images/revamp/earthing_mat_6.jpg" alt="" class="img-area" style="float: none"/></div>
            <div class="col-xs-6 col-sm-3" style="padding-bottom: 10px;">
            <img class="img-thumbnail" src="images/revamp/earthing_plate_1.jpg" alt="" class="img-area" style="float: none"/></div>
            <div class="col-xs-6 col-sm-3" style="padding-bottom: 10px;">
            <img class="img-thumbnail" src="images/revamp/earthing_plate_6.jpg" alt="" class="img-area" style="float: none"/></div>
            </div>
            <div class="div-table-padding">
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                <th colspan="3" style="text-align: center">Earth Plate & Earth Mat Parameters</th>
                <tr class="tr1">
                  <td>1.</td>
                  <td>Profile</td>
                  <td>Square/ Rectangular</td>
                </tr>
                <tr class="tr2">
                  <td>2.</td>
                  <td>Thickness</td>
                  <td>Upto  50mm</td>
                </tr>
                <tr class="tr1">
                  <td>3.</td>
                  <td>Length</td>
                  <td>10mm and above</td>
                </tr>
                <tr class="tr2">
                  <td>4.</td>
                  <td>Width</td>
                  <td>upto 600mm</td>
                </tr>
                  <tr class="tr1">
                    <td colspan="3" class="footer-text">Custom sizes available as per customer’s specifications.</td>
                  </tr>
            </table>
            </div>
        </div>
        <!-- Solid Profiles -->
        <div class="wrap">
            <div>
            <h1>Profiles</h1>
            </div>
            <p class="product-font1">We manufacture copper profiles such as round bars, rectangular, square, pentagonal & hexagonal bars, C – Sections, hollow profiles etc..The crack-free high-finish profiles manufactured in accordance to defined international standards are highly conductive and long lasting durable products possessing strong anti-corrosion, anti-oxidation and nonreactive properties.</p>
            <div class="row">
            <div class="col-xs-6 col-sm-3" style="padding-bottom: 10px;">
            <img class="img-thumbnail" src="images/revamp/solid_profile_1.jpg" alt="" class="img-area" style="float: none"/></div>
            <div class="col-xs-6 col-sm-3" style="padding-bottom: 10px;">
            <img class="img-thumbnail" src="images/revamp/solid_profile_2.jpg" alt="" class="img-area" style="float: none"/></div>
            <div class="col-xs-6 col-sm-3" style="padding-bottom: 10px;">
            <img class="img-thumbnail" src="images/revamp/hollow_profile_5.jpg" alt="" class="img-area" style="float: none"/></div>
            <div class="col-xs-6 col-sm-3" style="padding-bottom: 10px;">
            <img class="img-thumbnail" src="images/revamp/hollow_profile_6.jpg" alt="" class="img-area" style="float: none"/></div>
            </div>
        </div>
        <!-- Hollow Profiles -->
        <div class="wrap">
            <div>
            <h1>Air Terminal Lighting Rod</h1>
            </div>
            <p class="product-font1">We manufacture lighting rods in many different forms including hollow, solid, pointed and rounded along with the lightning spikes and terminal base. Our lighting rods provide a low-resistance path to the ground that can be used to conduct the harmful enormous electrical currents away from the structure and safety to ground when lightning strikes occur. Non-conductors suffer massive heat damage when struck by lighting, hence our highly conductive rods effectively protect lives and property</p>
            <div class="row">
            <div class="col-xs-6 col-sm-3" style="padding-bottom: 10px;">
            <img class="img-thumbnail" src="images/revamp/lightning_product.jpg" alt="" class="img-area" style="float: none"/></div>
            <div class="col-xs-6 col-sm-3" style="padding-bottom: 10px;">
            <img class="img-thumbnail" src="images/revamp/lightning_2.jpg" alt="" class="img-area" style="float: none"/></div>
            <div class="col-xs-6 col-sm-3" style="padding-bottom: 10px;">
            <img class="img-thumbnail" src="images/revamp/lightning_4.jpg" alt="" class="img-area" style="float: none"/></div>
            </div>
        </div> 
	</div>
<!-- Inner Area End -->
<!-- Header Area Start -->
<style>
.img-thumbnail:hover
{ 
  box-shadow: 0px 2px 5px -1px #000;
  -moz-box-shadow: 0px 2px 5px -1px #000;
  -webkit-box-shadow: 0px 2px 5px -1px #000;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 10px;   
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;   
  border-bottom:2px solid #52A1D5;        
}
tr td:first-child{
    width:25px
}
.product-font{
    font-family: -apple-system,BlinkMacSystemFont;
    font-size: 2rem;
    font-weight: 400;
    line-height: 1.5;
}
.product-font1{
    font-family: -apple-system,BlinkMacSystemFont;
    font-size: 2rem;
    font-weight: 400;
    line-height: 1.5;
    padding: 0 40px;
}
.footer-text{
    font-size: 14px;
    color: #070702;
    line-height: 24px;
    text-align: center;
}
.div-table-padding{
  padding: 20px 30px;
}
</style>
<% include partials/footer %>
