
<% include partials/header %>

<!-- Header Area End -->
<div class="clear"></div>
<!--Inner Area Start -->
    <div class="inner-bg-area" style="padding-top: 100px;">
        <div class="wrap"><div><h1 style="padding: 5px 15px; border-left: 4px solid #ff7300;
        text-transform: uppercase;font-weight: 800;margin-bottom: 12px; font-family: 'Lato', sans-serif;
        font-size: 25px;">Products</h1>
            <p class="product-font">
                Our in house tooling department and skilled machinists provides
                us with the flexibility to customize our products according to
                our customers’ specifications.</p>
        </div>
        </div>
        <div class="wrap">
            <div>
            <h1>Earth Rod</h1>
            </div>
            <p class="product-font1">Copper Earth Rods or Earthing rods provide superior conductivity & durability and therefore provide greater safety than copper coated rods or iron pipes traditionally used in earthing & grounding systems. We manufacture earthing rods with plain, taper, and threading options as per customer requirements.</p>
            <div class="row">
                <div class="col-xs-6 col-sm-3" style="padding-bottom: 10px;">
                <img class="img-thumbnail" src="images/factory-images/earth-rod-7.jpg" alt="" class="img-area" style="float: none"/></div>
                <div class="col-xs-6 col-sm-3" style="padding-bottom: 10px;">
                <img class="img-thumbnail" src="images/factory-images/earth-rods-1.jpg" alt="" class="img-area" style="float: none"/></div>
                <div class="col-xs-6 col-sm-3" style="padding-bottom: 10px;">
                <img class="img-thumbnail" src="images/factory-images/earth-rod-7.jpg" alt="" class="img-area" style="float: none"/></div>
                <div class="col-xs-6 col-sm-3" style="padding-bottom: 10px;">
                <img class="img-thumbnail" src="images/factory-images/earth-rods-1.jpg" alt="" class="img-area" style="float: none"/></div>
            </div>
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                <th colspan="3" style="text-align: center">Copper Earth Rod Parameters</th>
                <tr class="tr1">
                  <td>1.</td>
                  <td>Corrosion resistance</td>
                  <td>YES</td>
                </tr>
                <tr class="tr2">
                  <td>2.</td>
                  <td>Diameter</td>
                  <td>8mm – 24 mm</td>
                </tr>
                <tr class="tr1">
                  <td>3.</td>
                  <td>Length</td>
                  <td>2 ft – 8 ft</td>
                </tr>
                <tr class="tr2">
                  <td>4.</td>
                  <td>Material</td>
                  <td>Copper</td>
                </tr>
                <tr class="tr1">
                  <td>5.</td>
                  <td>Taper</td>
                  <td>Available</td>
                </tr>
                <tr class="tr2">
                  <td>6.</td>
                  <td>Drilling</td>
                  <td>Available</td>
                </tr>
                <tr class="tr1">
                    <td>7.</td>
                    <td>Threading</td>
                    <td>Available</td>
                  </tr>
                  <tr class="tr2">
                    <td>8.</td>
                    <td>Standard Sizes</td>
                    <td>14mm, 16mm</td>
                  </tr>
                  <tr class="tr1">
                    <td>9.</td>
                    <td>Standard Lengths</td>
                    <td>4 ft,  8 ft</td>
                  </tr>
                  <tr class="tr2">
                    <td colspan="3" class="footer-text">Custom sizes available as per customer’s specifications.</td>
                  </tr>
          </table>
        </div>
        <!-- Copper Tapes -->
        <div class="wrap">
            <div>
            <h1>Copper Tapes</h1>
            </div>
            <p class="product-font1">We manufacture copper tapes  or strips with corrosion resistance and electrical conductivity making them suitable components in earthing & grounding systems, connectors, commutators, panel board, electrical contatcs etc..</p>
            <div class="row">
            <div class="col-xs-6 col-sm-3" style="padding-bottom: 10px;">
            <img class="img-thumbnail" src="images/factory-images/tape-3.jpg" alt="" class="img-area" style="float: none"/></div>
            <div class="col-xs-6 col-sm-3" style="padding-bottom: 10px;">
            <img class="img-thumbnail" src="images/factory-images/copper-strip-reel-coiled.jpg" alt="" class="img-area" style="float: none"/></div>
            <div class="col-xs-6 col-sm-3" style="padding-bottom: 10px;">
            <img class="img-thumbnail" src="images/factory-images/tape-3.jpg" alt="" class="img-area" style="float: none"/></div>
            <div class="col-xs-6 col-sm-3" style="padding-bottom: 10px;">
            <img class="img-thumbnail" src="images/factory-images/copper-strip-reel-coiled.jpg" alt="" class="img-area" style="float: none"/></div>
            </div>
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                <th colspan="3" style="text-align: center">Copper Tape / Strip Parameters</th>
                <tr class="tr1">
                  <td>1.</td>
                  <td>Width</td>
                  <td>3mm to 50mm</td>
                </tr>
                <tr class="tr2">
                  <td>2.</td>
                  <td>Thickness</td>
                  <td>2mm and above</td>
                </tr>
                <tr class="tr1">
                  <td>3.</td>
                  <td>Length</td>
                  <td>20m – 50m rolls</td>
                </tr>
                <tr class="tr2">
                  <td>4.</td>
                  <td>Standard Sizes</td>
                  <td>3mm*25mm*50m</br>3mm*25mm*25m<br>6mm*50mm*50m</td>
                </tr>
                  <tr class="tr1">
                    <td colspan="3" class="footer-text">Custom sizes available as per customer’s specifications.</td>
                  </tr>
            </table>
        </div>
        <!-- Busbar Parameters -->
        <div class="wrap">
            <div>
            <h1>Busbar</h1>
            </div>
            <p class="product-font1">Electrical busbars are conductors used for collecting electric power from the incoming feeders and distributes them to the outgoing feeders. It is a type of electrical junction in which all the incoming and outgoing electrical current meets. We manufacture plain, punched & threaded busbars as per customer specifications for application in power distribution, power plants, data centres,  telecommunication, automative industries,railways etc..</p>
            <div class="row">
            <div class="col-xs-6 col-sm-3" style="padding-bottom: 10px;">
            <img class="img-thumbnail" src="images/factory-images/flat-bars.jpg" alt="" class="img-area" style="float: none"/></div>
            <div class="col-xs-6 col-sm-3" style="padding-bottom: 10px;">
            <img class="img-thumbnail" src="images/factory-images/busbar-profile.jpg" alt="" class="img-area" style="float: none"/></div>
            <div class="col-xs-6 col-sm-3" style="padding-bottom: 10px;">
            <img class="img-thumbnail" src="images/factory-images/tape-3.jpg" alt="" class="img-area" style="float: none"/></div>
            <div class="col-xs-6 col-sm-3" style="padding-bottom: 10px;">
            <img class="img-thumbnail" src="images/factory-images/copper-strip-reel-coiled.jpg" alt="" class="img-area" style="float: none"/></div>
            </div>
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                <th colspan="3" style="text-align: center">Busbar Parameters</th>
                <tr class="tr1">
                  <td>1.</td>
                  <td>Thickness</td>
                  <td>3mm - 50mm</td>
                </tr>
                <tr class="tr2">
                  <td>2.</td>
                  <td>Width</td>
                  <td>5mm -  50mm</td>
                </tr>
                <tr class="tr1">
                  <td>3.</td>
                  <td>Length</td>
                  <td>Upto 15 ft</td>
                </tr>
                <tr class="tr2">
                  <td>4.</td>
                  <td>Punching</td>
                  <td>Available</td>
                </tr>
                <tr class="tr1">
                    <td>5.</td>
                    <td>Threading</td>
                    <td>Available</td>
                  </tr>
                  <tr class="tr2">
                    <td>6.</td>
                    <td>Conductivity</td>
                    <td>As per customer specifications</td>
                  </tr>
                  <tr class="tr1">
                    <td>7.</td>
                    <td>Standard Sizes</td>
                    <td>25 mm x 5mm, 50mm x 10mm</td>
                  </tr>
                  <tr class="tr2">
                    <td colspan="3" class="footer-text">Custom sizes available as per customer’s specifications.</td>
                  </tr>
            </table>
        </div>
        <!-- Earth Plates & Mats -->
        <div class="wrap">
            <div>
            <h1>Earth Plates & Mats</h1>
            </div>
            <p class="product-font1">We manufacture a range of plain & punched Earth Plates from solid copper and are used as an alternative earthing solution to  earth rods  – the plates are often installed in conjunction with low resistance earthing compound. We also manufacture copper earthing mats designed to minimize the danger of exposure to high step & touch voltages to operators in situations such as high voltage switching.</p>
            <p class="product-font1">Copper earth plates can be installed in the ground to achieve an effective earth in shallow soils with underlying rocks or in underground locations with multiple buried cable and pipe services – used also to provide protection at medium/high voltage (MV-HV) switching locations where high resistivity soil or ground rock conditions prohibit the driving of copper earth rods.</p>
            <div class="row">
            <div class="col-xs-6 col-sm-3" style="padding-bottom: 10px;">
            <img class="img-thumbnail" src="images/factory-images/copper-profiles.jpg" alt="" class="img-area" style="float: none"/></div>
            <div class="col-xs-6 col-sm-3" style="padding-bottom: 10px;">
            <img class="img-thumbnail" src="images/factory-images/copper-tubes-product.jpg" alt="" class="img-area" style="float: none"/></div>
            <div class="col-xs-6 col-sm-3" style="padding-bottom: 10px;">
            <img class="img-thumbnail" src="images/factory-images/tape-3.jpg" alt="" class="img-area" style="float: none"/></div>
            <div class="col-xs-6 col-sm-3" style="padding-bottom: 10px;">
            <img class="img-thumbnail" src="images/factory-images/copper-strip-reel-coiled.jpg" alt="" class="img-area" style="float: none"/></div>
            </div>
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                <th colspan="3" style="text-align: center">Earth Plate & Earth Mat Parameters</th>
                <tr class="tr1">
                  <td>1.</td>
                  <td>Profile</td>
                  <td>Square/ Rectangular</td>
                </tr>
                <tr class="tr2">
                  <td>2.</td>
                  <td>Thickness</td>
                  <td>Upto  50mm</td>
                </tr>
                <tr class="tr1">
                  <td>3.</td>
                  <td>Length</td>
                  <td>10mm and above</td>
                </tr>
                <tr class="tr2">
                  <td>4.</td>
                  <td>Width</td>
                  <td>upto 600mm</td>
                </tr>
                  <tr class="tr1">
                    <td colspan="3" class="footer-text">Custom sizes available as per customer’s specifications.</td>
                  </tr>
            </table>
        </div>
        <!-- Solid Profiles -->
        <div class="wrap">
            <div>
            <h1>Solid Profiles</h1>
            </div>
            <p class="product-font1">We manufacture several copper profiles such as round bars, rectangular & square bars, pentagonal & hex bars, c – sections etc... The profiles are manufactured in accordance to defined international standards and are crack free, high finish, corrosion resistant high conductivity long lasting durable products.</p>
            <div class="row">
            <div class="col-xs-6 col-sm-3" style="padding-bottom: 10px;">
            <img class="img-thumbnail" src="images/factory-images/copper-profiles.jpg" alt="" class="img-area" style="float: none"/></div>
            <div class="col-xs-6 col-sm-3" style="padding-bottom: 10px;">
            <img class="img-thumbnail" src="images/factory-images/copper-tubes-product.jpg" alt="" class="img-area" style="float: none"/></div>
            <div class="col-xs-6 col-sm-3" style="padding-bottom: 10px;">
            <img class="img-thumbnail" src="images/factory-images/copper-profiles.jpg" alt="" class="img-area" style="float: none"/></div>
            <div class="col-xs-6 col-sm-3" style="padding-bottom: 10px;">
            <img class="img-thumbnail" src="images/factory-images/copper-tubes-product.jpg" alt="" class="img-area" style="float: none"/></div>
            </div>
        </div>
        <!-- Hollow Profiles -->
        <div class="wrap">
            <div>
            <h1>Hollow profiles</h1>
            </div>
            <p class="product-font1">Energen Ltd is a leading manufacturer of hollow Copper profiles. These non-ferrous hollow profiles having good electrical & thermal conductivity characteristics, and are ideal for usage in conductive parts of electronic products and main materials of heat dissipation accessories. They are also majorly used in the installation of tap water pipes, heating & refrigeration pipes in all residential commercial houses. The copper profiles have strong anti-corrosion performance, are not easily oxidized, and are non-reactive with some liquid substances.</p>
            <div class="row">
            <div class="col-xs-6 col-sm-3" style="padding-bottom: 10px;">
            <img class="img-thumbnail" src="images/factory-images/copper-profiles.jpg" alt="" class="img-area" style="float: none"/></div>
            <div class="col-xs-6 col-sm-3" style="padding-bottom: 10px;">
            <img class="img-thumbnail" src="images/factory-images/copper-tubes-product.jpg" alt="" class="img-area" style="float: none"/></div>
            <div class="col-xs-6 col-sm-3" style="padding-bottom: 10px;">
            <img class="img-thumbnail" src="images/factory-images/copper-profiles.jpg" alt="" class="img-area" style="float: none"/></div>
            <div class="col-xs-6 col-sm-3" style="padding-bottom: 10px;">
            <img class="img-thumbnail" src="images/factory-images/copper-tubes-product.jpg" alt="" class="img-area" style="float: none"/></div>
            </div>
        </div> 
	</div>
<!-- Inner Area End -->
<!-- Header Area Start -->
<style>
.img-thumbnail:hover
{ 
  box-shadow: 0px 2px 5px -1px #000;
  -moz-box-shadow: 0px 2px 5px -1px #000;
  -webkit-box-shadow: 0px 2px 5px -1px #000;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 10px;   
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;   
  border-bottom:2px solid #52A1D5;        
}
tr td:first-child{
    width:25px
}
.product-font{
    font-family: -apple-system,BlinkMacSystemFont;
    font-size: 2rem;
    font-weight: 400;
    line-height: 1.5;
}
.product-font1{
    font-family: -apple-system,BlinkMacSystemFont;
    font-size: 2rem;
    font-weight: 400;
    line-height: 1.5;
    padding: 0 40px;
}
.footer-text{
    font-size: 14px;
    color: #070702;
    line-height: 24px;
    text-align: center;
}
</style>
<% include partials/footer %>
