
<% include partials/header %>

<!-- Header Area End -->
<div class="clear"></div>
<!--Inner Area Start -->
    <div class="inner-bg-area" style="padding-top: 100px;">
        <div><h1 style="text-align: center"><u>Products</u></h1>
            <p style="font-size: 23px;padding: 30px 0px 15px;text-align: center;font-weight: 700;">
                Our in house tooling department and skilled machinists provides
                us with the flexibility to customize our products according to
                our customers’ specifications</p>
        </div>
        <div class="wrap">
            <div>
            <h1>Earth Rod</h1>
            </div>
            <div class="row">
            <div class="col-xs-6 col-sm-4" style="padding-bottom: 10px;">
            <img class="img-thumbnail" src="images/factory-images/earth-rod-7.jpg" alt="" class="img-area" style="float: none"/></div>
            <div class="col-xs-6 col-sm-4" style="padding-bottom: 10px;">
            <img class="img-thumbnail" src="images/factory-images/earth-rods-1.jpg" alt="" class="img-area" style="float: none"/></div>
            </div>
        </div>
        <div class="wrap">
            <div>
            <h1>Copper Tapes</h1>
            </div>
            <div class="row">
            <div class="col-xs-6 col-sm-4" style="padding-bottom: 10px;">
            <img class="img-thumbnail" src="images/factory-images/tape-3.jpg" alt="" class="img-area" style="float: none"/></div>
            <div class="col-xs-6 col-sm-4" style="padding-bottom: 10px;">
            <img class="img-thumbnail" src="images/factory-images/copper-strip-reel-coiled.jpg" alt="" class="img-area" style="float: none"/></div>
            </div>
        </div>
        <div class="wrap">
            <div>
            <h1>Busbar</h1>
            </div>
            <div class="row">
            <div class="col-xs-6 col-sm-4" style="padding-bottom: 10px;">
            <img class="img-thumbnail" src="images/factory-images/flat-bars.jpg" alt="" class="img-area" style="float: none"/></div>
            <div class="col-xs-6 col-sm-4" style="padding-bottom: 10px;">
            <img class="img-thumbnail" src="images/factory-images/busbar-profile.jpg" alt="" class="img-area" style="float: none"/></div>
            </div>
        </div>
        <div class="wrap">
            <div>
            <h1>Copper Profiles</h1>
            </div>
            <div class="row">
            <div class="col-xs-6 col-sm-4" style="padding-bottom: 10px;">
            <img class="img-thumbnail" src="images/factory-images/copper-profiles.jpg" alt="" class="img-area" style="float: none"/></div>
            <div class="col-xs-6 col-sm-4" style="padding-bottom: 10px;">
            <img class="img-thumbnail" src="images/factory-images/copper-tubes-product.jpg" alt="" class="img-area" style="float: none"/></div>
            </div>
        </div>
	</div>
<!-- Inner Area End -->
<!-- Header Area Start -->
<style>
.img-thumbnail:hover
{ 
  box-shadow: 0px 2px 5px -1px #000;
  -moz-box-shadow: 0px 2px 5px -1px #000;
  -webkit-box-shadow: 0px 2px 5px -1px #000;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 10px;   
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;   
  border-bottom:2px solid #52A1D5;        
}</style>
<% include partials/footer %>
