<% include partials/header %>

<!-- Header Area End -->
<div class="clear"></div>
<!-- Banner Area Start -->
	<div class="banner-area">
		<img src="images/inner-banner/quality-banner.jpg" alt="" style=" margin-top: 80px;"/>
	</div>
<!-- Banner Area End -->
<!--Inner Area Start -->
	<div class="inner-bg-area">
		<div class="wrap">
			<div>
				<h1>quality</h1>
                <div class="lft-area">
                <p>Lorem Ipusem</p>
                <p>Gaurdious Getious</p>
                <span>Our Quality Management has four levels:</span>
                <ul class="quality-nav">
                    <li>Inspection</li>
                    <li>Control</li>
                    <li>Assurance</li>
                    <li>Total Quality Management</li>
              </ul>
              <p>Our stringent quality management ensures product consistency covering all processes from raw material procurement to finished goods production. The products and process pass through stringent quality tests benchmarked with global standards.</p>
              </div>
              <img src="images/quality.png" alt="" />
              <br class="clear" />
         </div>	
		</div>
	</div>
<!-- Inner Area End -->

<% include partials/footer %>