<% include partials/header %>

<!-- Header Area End -->
<div class="clear"></div>
<!-- Banner Area Start -->
	<div class="banner-area">
		<img src="images/inner-banner/quality-banner.jpg" alt="" style=" margin-top: 80px;"/>
	</div>
<!-- Banner Area End -->
<!--Inner Area Start -->
	<div class="inner-bg-area">
		<div class="wrap">
		<div>
		<h1>quality</h1>
                <div class="lft-area">
                <!-- <p>Lorem Ipusem</p>
                <p>Gaurdious Getious</p> -->
                <span>Our Quality Management</span>
                <ul class="quality-nav">
                    <li>Our vision to provide affordable and high quality earthing and
                            grounding solutions to cater to East African communities for
                            protection of lives and property.</li>
                    <li>Our Mission is to provide the best quality earthing solutions at competitive costs to
                            companies in Uganda and East Africa through our highly skilled
                            teams and world class manufacturing facilities while maintaining
                            international safety standards.</li>
                    <li>It is our commitment to provide quality which is not just a statement
                            at Energen but deep rooted in our working culture. We have an
                            exhaustive system to measure performances and take active steps to
                            continuously improve on defect prevention, product quality, cost and
                            delivery time. We endeavour to excel in our performance, refining,
                            and implementing the effective quality strategies and tools along with
                            continuous education of our workforce with skill training and skill
                            upgrade while taking quality health and safety in consideration.
                            We make use of high grade raw material and follow a stringent
                            manufacturing process integrated with our quality program to ensure
                            that only the finest product of the best quality makes its way to the
                            market. We believe in complete dedication to quality with no
                            compromise and aim for 100% satisfaction of our clients through
                            quality.</li>
                    <!-- <li>Total Quality Management</li> -->
              </ul>
              <p>Our technological strengths and its endeavor towards continuous research and
                    development have allowed it to fulfill its responsibilities towards its customers. The
                    responsibility of providing its customers the best products and zero defect services to  
                    enable them to be comfortable and secure in usage of electricity.</p>
              </div>
              <img src="images/quality.png" alt="" />
              <br class="clear" />
         </div>	
		</div>
	</div>
<!-- Inner Area End -->

<% include partials/footer %>